/* 
	Primary colors
	======================================================= */

$color-base: #0A1A31;
$color-accent: #F58F13;
$color-text: #313131;


/* 
	Secondary colors
	======================================================= */

$color-inactive: #C6C6C6;